@media(min-width: 768px){
    .news-input {
        width: 50%;
    }
}


.btn{
    background-color: gainsboro;
    border: none;
    border-radius: 20px;
    color: black;
}
.btn:hover{
    background-color: rgb(47, 39, 95);
    transform: scale(1.05,1.05);
    transition: 0.25s;
}
#news-letter {
    background-image: linear-gradient(to right, rgb(73, 42, 106), gray,rgb(73, 42, 106));
}